<section id="Banner">
    <div class="inner">

        <br>
        <br>
        <h2>
          <img style="height: 50px;" src="images/monopolly-logo.png">
          MonoPollY
        </h2>
        <br>
        <br>
        <br>
        <p>
            MonoPollY est gratuit, souple et vous <br> permet de créer des sondages ou bien <br> d'y répondre en toute simplicité.
        </p>
        <h4>
            Laissez tomber les longs le stylo et la feuille, <br>
            les tableurs, et les logiciels compliqués pour vos sondages. <br>
            MonoPollY  vous permet de voir vos sondages <br>
            et leurs statistiques en un clin d'œil. <br>
        </h4>

        <br>
        <br>
        <a class="button specialg" (click)="this._router.navigateByUrl('/register')"> Inscrivez-vous gratuitement. </a>
        <br>
        <p>
          <a class="label" (click)="this._router.navigateByUrl('/login')" > Connectez-vous </a>
          <br>
          Pour plus d'informations visitez notre <a href="https://ornidon.github.io/MonoPollY/" class="label"> site </a>
        </p>
        <br>
    </div>

</section>
