<!-- Header -->
<header id="header">
    <nav id="nav">
        <ul>
            <li class="special">
                <button class="button xsmall" name="button" (click)="onLogout()" > Logout </button>
            </li>
        </ul>
    </nav>
    <!-- Sidebar -->
    <div id="mySidenav" class="sidenav">
        <!-- Search -->
        <section id="search" class="alt">
          <h1>
              <a (click)="addMode()">Salles<img style="height: 20px;" src="images/add.png"></a>
          </h1>
        </section>
        <section id="search" class="alt">
            <form (keydown)="find($event)">
                <input type="search" id="name" [(ngModel)]="roomName" name="roomName">
            </form>
        </section>
        <a *ngFor="let item of rooms" (click)="selectRoom(item)"> {{item.name}} </a>
    </div>
</header>

<section id="Poll">
    <div class="content">
        <header>
            <h6> Sondages </h6>
        </header>
        <div *ngIf="_data.currentRoom == undefined && !creationMode">
            <h1>Veuillez sélectionner une salle</h1> <br>
        </div>
        <div *ngIf="creationMode">
            <h1>Veuillez entrer le nom de votre nouvelle salle</h1> <br>
            <form (keydown)="create($event)">
                <input type="search" id="name" [(ngModel)]="roomName2" name="roomName2">
            </form>
        </div>
        <div *ngIf="_data.currentRoom != undefined ">
            <!-- CREATION DE QUESTION-->
            <div *ngIf="this._auth.getUserId() == this._data.currentRoom.owner">
                <div *ngIf="!this.addingQuestion">
                    <div *ngIf="_data.currentRoom.questions.length == 0">
                        <h1>Cette salle n'a pas de question</h1> <br>
                    </div>
                    <p>
                        <button class="specialg" name="button" (click)="enterCreationQuestionMode()" > Ajouter une question </button>
                    </p>
                    <div *ngIf="_data.currentRoom.questions.length != 0">
                        <h1>Liste des questions de cette salle</h1>
                        <div *ngFor="let question of this._data.currentRoom.questions; let i=index" class="question">
                            {{question.body}} 
                                    
                            <div *ngFor="let answer of question.answers; let j=index" class="chart">
                                
                                <button *ngIf="answer.isValid"
                                        class="specialg" name="button"> {{answer.body}}  </button>
                                <button *ngIf="!answer.isValid"
                                    class="special" name="button"> {{answer.body}}  </button>
                            
                                <div [style.width]="question.dataHolder.data.datasets[0].data[j] / (question.dataHolder.totalReplys+0.0000001)*100 + '%'">{{question.dataHolder.data.datasets[0].data[j]}} </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.addingQuestion">
                    <form>
                        <input type="text" id="questionBody" placeholder="question name"
                            [(ngModel)]="this.questionToBeCreated.body" name="questionBody">
                        <br>Réponses:
                        <table>
                            <tr *ngFor="let answer of this.questionToBeCreated.answers">  
                                <th>
                                    <input type="text" id="answerBody" placeholder="answer"[(ngModel)]="answer.body" name="answerBody">
                                </th>
                                <th>
                                    <button *ngIf="answer.isValid"
                                        class="specialg" name="button" (click)="swtichAnswer(answer)" >Correct</button>
                                    <button *ngIf="!answer.isValid"
                                        class="special" name="button" (click)="swtichAnswer(answer)" >Wrong</button>
                                    
                                    <button class="special" name="button" (click)="deleteAnswer(answer)" >X</button>
                                </th>
                            </tr>
                        </table>
                      
                    </form>
                    <button class="specialb" name="button" (click)="pushAnswer()" > Add an answer </button><br><br>
                    <button class="specialg" name="button" (click)="createQuestion()" > Create </button>
                    <button class="special" name="button" (click)="cancelQuestion()" > Cancel </button>
                </div>
            </div>
            <!-- REPONSE AUX QUESTIONS -->
            <div *ngIf="this._auth.getUserId() != this._data.currentRoom.owner && _data.currentRoom.questions != null">
                <div *ngIf="_data.currentRoom.questions.length == 0">
                    <h1>Cette salle n'a pas de question</h1> <br>
                </div>
                <div *ngIf="_data.currentRoom.questions.length != 0 ">
                    <h1>{{_data.currentRoom.questions[current].body}}</h1> <br>

                    <div *ngIf="_data.currentRoom.questions[current].dataHolder != undefined && !_data.currentRoom.questions[current].canAnswer">
                        <br>
                        <div class="question">
                            <div *ngFor="let answer of _data.currentRoom.questions[current].answers; let j=index" class="chart">
                                <button *ngIf="answer.isValid"
                                        class="specialg" name="button"> {{answer.body}}  </button>
                                <button *ngIf="!answer.isValid"
                                    class="special" name="button"> {{answer.body}}  </button>
                                <div [style.width]="_data.currentRoom.questions[current].dataHolder.data.datasets[0].data[j] / _data.currentRoom.questions[current].dataHolder.totalReplys*100 + '%'"> {{_data.currentRoom.questions[current].dataHolder.data.datasets[0].data[j]}} </div>
                                
                            </div>
                        </div>
                        <br>
                    </div>

                    <div *ngIf="_data.currentRoom.questions[current].canAnswer">
                        <div *ngFor="let item of _data.currentRoom.questions[current].answers">
                            <p>
                                <button class="specialg" name="button" (click)="answer(item.id)"> {{item.body}} </button>
                            </p>
                        </div>
                    </div>

                    <div *ngIf="current > 0" class= "asideSpecialL">
                        <button class="specialb" name="button" (click)="goToPreviousQuestion()"><<</button>
                    </div>
                    <div *ngIf="current < _data.currentRoom.questions.length-1" class= "asideSpecialR">
                        <button class="specialb" name="button" (click)="goToNextQuestion()">>></button>
                    </div>
                </div>
        </div>
    </div>
    </div>

</section>
